doctype html
html
  head
    title Coding Club Of MIT-WPU
    block scripts
    block style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.jpg")
                | C_C
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/register") Registration]
            li #[a(href="/contact") Contact Us]
     
    block content
     
    footer#footer
        | Copyright © 2020 Official Page of Coding Club Of MIT-WPU | All rights reserved
    